/**/Pods
/**/Podfile.lock
/**/.idea
/**/*.xcbkptlist
/**/*.xcuserstate
/**/CPP_Maker/Result
/**/CPP_Maker/CMakeFiles
/**/CMakeCache.txt
/**/rules.ninja
/**/CPP_Maker/build
/**/*.cmake
/**/*.ninja
/**/.ninja_log
/**/.ninja_deps
/**/CPP_Maker
SbisTasks/SbisTasks/Code/cpp_module/library
line_counter.sh
/**/*.xcuserdatad
report.xml
/**/*.xcworkspacedata
/**/*.xcscmblueprint
/**/.DS_Store
